URxvt.perl-ext-common:  default,tabbedex,url-select,searchable-scrollback,keyboard-select,selection-to-clipboard

URxvt.geometry: 170x37
URxvt.saveLines: 64000

! Scrollbar ---------
URxvt.scrollColor: #888888
URxvt.scrollBar_right: yes
URxvt.scrollstyle: plain

! Fonts -------------
URxvt.font: xft:Misc Fixed:pixelsize=14
!URxvt*font: xft:Monospace:pixelsize=13
!URxvt*boldFont: xft:Monospace:pixelsize=13

! tabbedex extension
URxvt.tabbed.tabbedex-rs-prefix: %
URxvt.tabbed.new-button: no

! matcher: url opening with left mouse button
!URxvt.url-launcher: /usr/bin/xdg-open
!URxvt.matcher.button: 1

! url-select: urls via keyboard (alt+u, j, k, enter, o)
! CTRL for mouse clicks
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.url-select.button: 1C

! searchable-scrollback (alt+s to search)
! <no opts set>

! keyboard-select (alt+to to start text selection mode, j,k, vimlike etc)
URxvt.keysym.M-t: perl:keyboard-select:activate
! The following line overwrites the default Meta-s binding and allows to
! activate keyboard-select directly in backward search mode:
URxvt.keysym.M-s: perl:keyboard-select:search

! selection-to-clipboard: copy always primary selection to clipboard
! <no opts set>


! Copy/Paste, same keys as gnome-terminal
! https://stackoverflow.com/questions/39884093
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

! Theme -------------
! Fade the text by the given percentage when focus is lost
URxvt.fading: 25
*background: #000000
*foreground: #ffffff
